body, html {
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  z-index: -999;
  position: relative;/* prevents text size from changing on orientation change */
}

.anim{
  position: relative;
  padding: 40px 0px;
}
.main, .page{
  width: 375px;
  height: 667px;
}
.main{
  position: relative;
  overflow: hidden;
  border: 2px solid #010101;
  margin: 0 auto;
  z-index: -999;
}

/* MENU */

.anim--1 {
  z-index: -999;
}

.main--1 {
  overflow: hidden;
}

nav {
  width: 375px;
  height: 44px;
  background: lightgrey;
  box-shadow: 0px 1px 3px #888888;

}

.menu__btn {
  position: absolute;
  top: 8px;
  right: 5px;
  border: none;
  background: none;
  z-index: 999;
}
.menu__btn:focus {
  outline: none;
}
.burger__bun {
  height: 5px;
  width: 30px;
  margin: 3px 0px;
  background: black;

  transition: all .8s;
}

.bun1.open {
  -webkit-transform: translateY(8px) rotate(-405deg);
}

.bun2.open {
  opacity: 0;
  -webkit-transform: scale(0);
}

.bun3.open {
  -webkit-transform: translateY(-8px) rotate(405deg);
}

.menu__el {
  background: #C1C1C1;
  width: 350px;
  height: 100%;
  position: absolute;
  top: 0;
  right:0;
  padding-top: 44px;

  transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translateX(350px);
}
.menu__el.open {
  -webkit-transform: translateX(100px);
}
.menu__el ul {
  list-style: none;
}
.menu__el li{
  margin: 15px;
}
.menu__el a{
  text-decoration: none;
  color: #FFF;
  font-size: 12pt;
  font-weight: bold;
}

.mask {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  top: 0;
  background: black;
  opacity: 0;

  -webkit-transform: translateX(-400px);
  transition: opacity .6s ease;
}
.mask.open {
  opacity: 0.7;
  -webkit-transform: translateX(0px);
}
.page1 {
  padding-top: 0px;
  position: relative;
  width: 375px;
  height: 667px;
  background: #FFF;
  z-index: -999;
}

/* Flèche 1 */

.anim--2 {
  z-index: -999;
}

.arrow {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 30px;
  height: 20px;

  -webkit-transform: translateX(-50px);
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.arrow.active {
  -webkit-transform: translateX(0px);
}
.arrow__stick {
  height: 5px;
  width: 20px;
  background: black;

  -webkit-transform-origin: left;
}

.stick1 {
  -webkit-transform: translateY(5px) rotate(-45deg);
}
.stick2 {
  -webkit-transform: translateY(-3px) rotate(45deg);
}

.page1__block {
  margin: 0 auto;
  width: 90%;
  height: 70px;
  background: orange;
  border-radius: 5px;
  margin-bottom: 20px;

  transition: all .2s;
}

.page1__block:active {
  box-shadow: 0px 1px 3px #888888;
}

.page1__block:first-child {
  margin-top: 22px;
}

/* Flèche 2 */
.anim--3 {
  z-index: -999;
}

.arrow2.active {
  -webkit-transform: translateX(0px);
}
.arrow2__stick {
  height: 5px;
  width: 20px;
  background: black;

  -webkit-transform-origin: left;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.arrow2.active .stick3 {
  -webkit-transform: translateY(5px) rotate(-45deg);
}
.arrow2.active .stick4 {
  -webkit-transform: translateY(-3px) rotate(45deg);
}

/* Ouverture News 1*/

.anim--4 {
  z-index: -999;
}
.arrow3.active {
  -webkit-transform: translateX(0px);
}
.arrow3__stick {
  height: 5px;
  width: 20px;
  background: black;

  -webkit-transform-origin: left;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.arrow3.active .stick5 {
  -webkit-transform: translateY(5px) rotate(-45deg);
}
.arrow3.active .stick6 {
  -webkit-transform: translateY(-3px) rotate(45deg);
}

.page1__el {
  margin: 44px 20px;
  overflow: hidden;

  transition: all .8s ease-out;
}
.page1__el.active {
  margin: 0;
  padding: 0;
}
.el__photo {
  height: 50px;
  width: 50px;
  background: url(../_images/doge.png) black no-repeat;
  background-size: 50px 50px;
  border-radius: 100%;
  float: left;

  transition: all .8s ease-out;
}

.page1__el.active > .el__photo {
  height: 667px;
  width: 100%;
  background: white;
  background-size: 700px 700px;
  border-radius: 0%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}


.el__txt {
  height: 50px;
  width: 72%;
  float: right;
  font-size: 10pt;

  transition: opacity .8s ease-out;
}

.page1__el.active > .el__txt {
  opacity: 0;
  position: fixed;
  right: 900px;
}

.el__txt p {
  margin: 0;
}
.el__detail {
  opacity: 0;
  margin: 20px;

}
.page1__el.active > .el__photo .el__detail {
  opacity: 100;
  transition: all .6s ease-in;
  transition-delay: .8s;
}

.detail__txt {
  margin-bottom: 80px;
}

/* Configuration */

.anim--5 {
  z-index: -999;
}

.config {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: url(../_images/config.png) no-repeat;
  background-size: 50px 50px;
  margin-top: 25px;
}

.config1 {
  transition: .8s;
}

.config1.active {
  -webkit-transform: rotate(180deg);
}

.config2 {
  transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.config2.active {
  -webkit-transform: rotate(180deg);
}

.config3 {
  transition: .8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.config3.active {
  -webkit-transform: rotate(180deg);
}
